/* Pequenas telas: até 600px
celular: de 600px até 768px
Tablet: 768px até 992px
Desktop 992px até 1200px
Grandes telas: acima de 1200px  */
@media screen and (max-width: 600px){
    body{
        height: 100vh;
    }
    .login{
         width: 80%
    }
    .login h1{
        position: relative;
            left: 140px;
            bottom: 40px;
        padding-left: 20px;
        font-size: 30pt;
    }
    .input-box i{
        position: relative;
            right: -225px;
            top: -30px;
    }
    .icone-texto{
        width: 70px;
        position: relative;
            top: 50px;
            left: 50px;
    }
    .login .remember-forgot{
        font-size: 12px;
        margin: 10px 35px 40px 35px;
    }
    button{
        padding: 10px 0px 10px 0px;
        width: 70%;
        margin: 0 15% 0 15%;
    }
    
}