/* Pequenas telas: até 600px
celular: de 600px até 768px
Tablet: 768px até 992px
Desktop 992px até 1200px
Grandes telas: acima de 1200px  */

@media screen and (max-width: 600px){
    body{
        height: 100vh;
    }
    .login{
         width: 80%
    }
    .login h1{
        width: 10px;
        position: relative;
            left: 130px;
            top: -60px;
        padding-left: 20px;
        font-size: 20pt;
        text-transform: uppercase;
    }
    .login p{
        text-align: center;
        position: relative;
            bottom: 20px;
    }
    .input-box i{
        position: relative;
            right: -245px;
            top: -30px;
    }
    .icone-texto{
        width: 130px;
        position: relative;
            top: 25px;
            left: 10px;
    }
    .login .remember-forgot{
        font-size: 12px;
        margin: 12px 27px 40px 27px;
    }
    button{
        padding: 10px 0px 10px 0px;
        width: 70%;
        margin: 0 15% 0 15%;
    }
    
}