/* Pequenas telas: até 600px
celular: de 600px até 768px
Tablet: 768px até 992px
Desktop 992px até 1200px
Grandes telas: acima de 1200px  */
@media screen and (max-width: 600px){
    .logoDoSite {
        margin: 5px 2% 5px 2%;
        width: 96%;
    }
    #menu{
        color: rgba(0, 0, 0, 0.57);
        display: block;
        padding: 25px 20px 0px 0px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    #menu:hover{
        color: #2272b3;
    }
    menu > ul > li > a {
        margin-bottom: 5px;
        color: black;
    }
    main > img{
        height: 300px;
        border-radius: 20px;
    }
    main > p{
        position: absolute;
            bottom: 285px;
            left: 215px;
        width: 100px;
        height: 25px;
        cursor: pointer;
    }

    .btn-meio a{
        padding: 10px 40px 10px 40px;
        font-size: 15px;
        margin-bottom: 0px;
    }
    main > h2{
        font-size: 16px;
        padding: 17px 0px 0px 0px;
        margin-top: 0px;
    }
    .fundo{
        height: 200px;
        margin-top: 0px;
        border-radius: 10px;
    }
    .btn-meio{ 
        height: 200px;
    }
    .nomeImg {
        margin: 15px 0px 90px 0px;
        position: relative;
            left: 0px;
    }
    .btn-meio h2{   
        font-size: 25px;
        padding-top: 0px;
    }
    .btn-meio p{
        position: relative;
            bottom: 70px;
        font-size: 15px;
    }
    .btn-meio p2{
        position: relative;
            bottom: 80px;
            left: 1px;
        font-size: 15px;
    }
    .btn-meio a{
        position: relative;
            bottom: 45px;
        padding: 2px 20px 2px 20px;
        font-size: 20px;
    }
    .espaco {
        margin-top: 0px;
        height: 510px;
    }
    .espaco h2{
        font-size: 23px;
        margin-top: 10px;
    
    }
    .espaco img{
        margin: 0px 10% 20px 10%;
        width: 80%;
        height: 110px;
    }
    .espaco > p{
        font-size: 20px;
        position: relative;
            bottom: 320px;
            left: 0px;
        margin-left: 130px;
    }
    .espaco p2{
        font-size: 20px;
        position: relative;
            bottom: 218px;
            left: 0px;
        margin-left: 145px;
    
    }
    .espaco p3{
        font-size: 20px;
        position: relative;
            bottom: 83px;
            left: -90px;
    
    }
    .linha-vermelha{
        height: 40px;
        width: 100%;
        position: relative;
            bottom: 70px;
    }
    .linha-vermelha > p{
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }
    .tabela-de-preço {
        margin-top: 15px;
    }
    .preço {
        height: 280px;
        max-width: 120px;
    }
    .botão-preço{
        padding: 5px;
        margin-bottom: 20px;  
    }
    .preço img{
        height: 100px; 
    }
    .preço h2{
        font-size: 18px;
    }
    .preço p {
        font-size: 8px;
    }
    .tabela-de-preço h3{
        font-size: 13pt;
    }
    .tabela-de-preço sup{
        font-size: 8px;
    }
    .valores{
        width: 80%;
        margin: 25px 10% 5px 10% ;
    }
    .logoNoRodaPe{
        width: 250px;
    }
}
@media screen and (min-width: 768px) {

    i#menu {
        display: none;
    }
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
}