@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Noto+Sans:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(../img/692040.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-texto{
    width: 150px;
    position: relative;
        top: 50px;
        left: 80px;
}

.register{
    width: 500px;
    height: 550px;
    box-shadow: 0px 0px 2px white;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.745);
}

.register h1{
    position: relative;
        left: 220px;
        bottom: 65px;
    border-left: 2px solid white;
    padding-left: 20px;
    font-size: 30pt;
    font-family: 'Black Ops One', system-ui;
    text-transform: uppercase;
}

.register p{
    text-align: center;
    position: relative;
        bottom: 10px;
    font-family: 'Goldman', sans-serif;

}

.register h2{
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-box{
    width: 100%;
    margin-bottom: 2px;
    height: 50px;
}

.input-box input{
    width: 80%;
    height: 80%;
    margin: 0 10% 0 10%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: relative;
        right: -420px;
        top: -30px;
}

#next{
   position: relative;
   margin: 0;
   padding: 0;
   left: 100px;
}
p2{
    position: relative;
    bottom: -9px;
    left: 160px;
}
button{
    position: relative;
    left: 10px;
    top: 0px;
    background-color: #Ff4949;
    padding: 12px 70px 12px 70px;
    color: white;
    border-radius: 30px;
    width: 50%;
    margin: 0 25% 0 25%;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid black;
}
button:hover{
    color: black;
}
p2 a{
    color: #Ff4949;
    text-decoration: none;
}
p2 a:hover{
    color: white;
}